/* css syntax */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* logo styling */

.logo img {
    /* margin-left: 9rem; */
    width: 200px;
    height: auto;
}

/* nav links styling */

.navbar-1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: white;
}

.nav-links ul li {
    display: inline-block;
}

.navbar-1 {
    position: fixed;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    /* background-color: rgb(29, 5, 5); */
}

/* styling of login, sign up items */

.login,
.signup {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    text-align: center;
    margin: 0px 10px 0 10px;
    border: 2px solid black;
    padding: 11px 13px;
    border-radius: 7px;
}

.login:hover,
.signup:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
}

.bi-person-circle-1 {
    margin-right: 9px;
    font-size: 1.6rem;
    align-items: center;
}

.bi-person-add-1 {
    margin-right: 9px;
    font-size: 1.6rem;
    align-items: center;
}

.bi-caret-fill-1 {
    margin-left: 5px;
    font-size: 0.8rem;
    align-items: center;
    color: rgba(0, 0, 0, 0.490);
}

/* styling of all nav */
.nav-links ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    list-style: none;
    margin: 0px 20px 0 20px;
}

.bi-caret-fill-1:hover {
    color: rgb(29, 157, 216);
}

.nav-links ul li a:hover {
    color: rgb(255, 0, 0);
    transition: 0.3s;
}

/* dropdown menu styling */


.dropdown,
.dropdown-2 {
    display: none;
    position: absolute;
    background-color: white;
    padding: 5px 0px;
    border-radius: 6px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    /* z-index: 1; */
}

.dropdown1:hover .dropdown,
.dropdown2:hover .dropdown-2 {
    display: grid;
}

.dropdown2 {
    display: block;
    padding: 8.5px 20px 8.5px 0px;
    text-align: end;
}

.dropdown-2 li {
    list-style: none;
    padding: 10px 12px;
}

.dropdown ul li a {
    color: black;
    font-size: 1rem;
}

.dropdown,
ul .li-a:hover {
    background-color: rgb(240, 240, 240);
    transition: 0.3s;
    /* width: 90%; */
}

.li-a a {
    display: inline-block;
}

/* Dropdown icon styling */

.bi-caret-right-fill {
    margin-left: 5px;
    font-size: 0.8rem;
    align-items: center;
    color: rgba(0, 0, 0, 0.490);
}

.bi-caret-right-fill:hover {
    color: rgb(29, 157, 216);
}

section {
    padding: 90px 0 0 0;
}

section h2 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-left: 6rem;
    font-family: "Crimson Text", serif;
    font-style: italic;
}

.about-trends-img {
    width: 80%;
    height: 400px;
    margin: 40px 0 20px 16rem;
    /* padding-left: 10rem; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.529), rgba(0, 0, 0, 0.737)), url(./assets/About\ us\ image\ 1.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.about-trends-img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.about-trends-img:active {
    transform: scale(1);
    transition: 0.3s;
}

.about-trends h3 {
    font-size: 4.3rem;
    font-weight: 700;
    font-family: "Crimson Text", serif;
    font-style: italic;
    margin-bottom: 6px;
    color: white;
}

.about-trends p {
    font-size: 1.28rem;
    color: rgba(207, 75, 70, 0.938);
}

.about-trends {
    width: 800px;
    margin: 40px 0 20px 10rem;
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: "Open Sans", sans-serif;
}

.about-vision-img {
    width: 80%;
    height: 570px;
    margin: 40px 0 20px 16rem;
    /* padding-left: 10rem; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.529), rgba(0, 0, 0, 0.737)), url(./assets/earth-2254769.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.about-vision-img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.about-vision-img:active {
    transform: scale(1.1);
    transition: 0.3s;
}

.about-vision h3 {
    font-size: 4.3rem;
    font-weight: 700;
    font-family: "Crimson Text", serif;
    font-style: italic;
    /* line-height: 10rem; */
    margin-bottom: 43px;
    padding-top: 3rem;
    color: white;
}

.about-vision p {
    font-size: 1.28rem;
    line-height: 1.9rem;
    color: rgba(207, 75, 70, 0.938);
}

.about-vision ul li {
    list-style: none;
    color: rgba(207, 75, 70, 0.938);
}

.about-vision {
    width: 800px;
    margin: 40px 0 20px 10rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

.about-offer-img {
    width: 80%;
    height: 570px;
    margin: 40px 16rem 20px 2.5rem;
    /* padding-left: 10rem; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.529), rgba(0, 0, 0, 0.737)), url(./assets/student-5224082.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.about-offer-img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.about-offer-img:active {
    transform: scale(1.1);
    transition: 0.3s;
}

.about-offer h3 {
    font-size: 4.3rem;
    font-weight: 700;
    font-family: "Crimson Text", serif;
    font-style: italic;
    /* line-height: 10rem; */
    margin-bottom: 30px;
    padding-top: 3rem;
    color: white;
}

.about-offer p {
    font-size: 1.28rem;
    line-height: 1.9rem;
    color: rgba(207, 75, 70, 0.938);
}

.about-offer ul li {
    list-style: none;
    color: rgba(207, 75, 70, 0.938);
}

.about-offer {
    width: 800px;
    margin: 40px 0 20px 10rem;
    font-size: 1.2rem;
    line-height: 1.40rem;
    font-family: "Open Sans", sans-serif;
}

.about-team-img {
    width: 80%;
    height: 400px;
    margin: 40px 0 20px 16rem;
    /* padding-left: 10rem; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.529), rgba(0, 0, 0, 0.737)), url(./assets/people-1979261.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.about-team-img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.about-team-img:active {
    transform: scale(1);
    transition: 0.3s;
}

.about-team h3 {
    font-size: 4.3rem;
    font-weight: 700;
    font-family: "Crimson Text", serif;
    font-style: italic;
    margin-bottom: 6px;
    color: white;
}

.about-team p {
    font-size: 1.28rem;
    color: rgba(207, 75, 70, 0.938);
}

.about-team {
    width: 800px;
    margin: 40px 0 20px 10rem;
    font-size: 1.5rem;
    line-height: 1.6;
    font-family: "Open Sans", sans-serif;
}

.about-contact-img {
    width: 80%;
    height: 400px;
    margin: 40px 16rem 20px 2rem;
    /* padding-left: 10rem; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.529), rgba(0, 0, 0, 0.737)), url(./assets/Contact\ Us\ Image.avif);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.about-contact-img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.about-contact-img:active {
    transform: scale(1);
    transition: 0.3s;
}

.about-contact h3 {
    font-size: 4.3rem;
    font-weight: 700;
    font-family: "Crimson Text", serif;
    font-style: italic;
    margin-bottom: 6px;
    color: white;
}

.about-contact p {
    font-size: 1.28rem;
    color: rgb(207, 75, 70);
}

.about-contact {
    width: 800px;
    margin: 40px 0 20px 10rem;
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: "Poppins", sans-serif;
}

.about-mission-img {
    width: 80%;
    height: 400px;
    margin: 40px 16rem 20px 2rem;
    /* padding-left: 10rem; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.529), rgba(0, 0, 0, 0.737)), url(./assets/About\ us\ image\ 1.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.about-mission-img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.about-mission-img:active {
    transform: scale(1);
    transition: 0.3s;
}

.about-mission h3 {
    font-size: 4.3rem;
    font-weight: 700;
    font-family: "Crimson Text", serif;
    font-style: italic;
    margin-bottom: 6px;
    color: white;
}

.about-mission p {
    font-size: 1.28rem;
    color: rgba(207, 75, 70, 0.938);
}

.about-mission {
    width: 800px;
    margin: 40px 0 20px 10rem;
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: "Poppins", sans-serif;
}



@media screen and (max-width: 425px) {

    .about-mission-img {
        width: 90%;
        height: 900px;
        margin: 40px 16rem 20px 2rem;
        /* padding-left: 10rem; */
        /* background-image: linear-gradient(rgba(0, 0, 0, 0.529), rgba(0, 0, 0, 0.737)), url(./assets/About\ us\ image\ 1.jpeg); */
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }

    .about-mission-img:hover {
        transform: scale(1.05);
        transition: 0.3s;
    }

    .about-mission-img:active {
        transform: scale(1);
        transition: 0.3s;
    }

    .about-mission h3 {
        font-size: 4.3rem;
        font-weight: 700;
        font-family: "Crimson Text", serif;
        font-style: italic;
        margin-bottom: 6px;
        color: white;
    }

    .about-mission p {
        font-size: 1.28rem;
        color: rgba(207, 75, 70, 0.938);
    }

    .about-mission {
        width: 800px;
        margin: 40px 0 20px 10rem;
        font-size: 1.2rem;
        line-height: 1.6;
        font-family: "Open Sans", sans-serif;
    }

}