/* css syntax */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(8, 8, 69);
}


.form-1 {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-top-right-radius: 100px;
    margin: 10.5rem 0 0 0;
    width: 91.5%;
    gap: 5px;
    align-items: center;
}

.form-img {
    margin: 0 70px 0 10px;
    width: 40%;
    /* margin: 5rem 16rem 0 0; */
}

label {
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    margin-left: 12rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    padding: 0.9rem 0 0.9rem 0.6rem;
    margin: 0.3rem 0 0 9.5rem;
    width: 60%;
    border: none;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.249);
}

.signup-h3 {
    white-space: nowrap;
    font-size: 3.5rem;
    margin: 4rem 0 2rem 14rem;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    width: 60%;
    color: rgba(0, 0, 0, 0.71);
}

button {
    margin: 0.3rem 0 1rem 17.9rem;
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: "Crimson Text", serif;
    font-style: oblique;
    font-weight: 800;
    background-color: rgb(7, 7, 102);
    color: rgba(255, 255, 255, 0.918);
}

button:hover {
    transform: scale(1.1);
    transition: 0.5sec;
}

button:active {
    transform: scale(1.03);
    transition: 0.5sec;
}

.login-a {
    margin: 0.4rem 0 3rem 12rem;
}

.login-a a {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    margin-left: 0.4rem;
}

@media screen and (max-width: 2560px) {


body {
    background-color: rgb(8, 8, 69);
}


.form-1 {
    display: flex;
    justify-content: space-evenly;
    /* padding-bottom: 5.5rem; */
    background-color: white;
    border-top-right-radius: 100px;
    margin: 10.5rem 0 0 0;
    /* margin-bottom: none; */
    width: 2500px;
    /* gap: 5px; */
    align-items: center;
}

.form-img {
    margin: 0 70px 0 10px;
    width: 20%;
    /* margin: 5rem 16rem 0 0; */
}

label {
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    margin-left: 10rem;
}

::placeholder {
    font-size: 1.3rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    padding: 1rem 0 1rem 0.6rem;
    margin: 0.3rem 0 0 9.5rem;
    width: 60%;
    border: none;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.249);
}

.signup-h3 {
    white-space: nowrap;
    font-size: 4.5rem;
    margin: 4rem 0 2rem 14rem;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    width: 60%;
    color: rgba(0, 0, 0, 0.71);
}

button {
    margin: 0.3rem 0 1rem 17.9rem;
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: "Crimson Text", serif;
    font-style: oblique;
    font-weight: 800;
    background-color: rgb(7, 7, 102);
    color: rgba(255, 255, 255, 0.918);
}

button:hover {
    transform: scale(1.1);
    transition: 0.5sec;
}

button:active {
    transform: scale(1.03);
    transition: 0.5sec;
}

.login-a {
    margin: 0.4rem 0 3rem 12rem;
}

.login-a a {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    margin-left: 0.4rem;
}
}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 425px) {}

@media screen and (max-width: 376px) {


body {
    background-color: rgb(8, 8, 69);
}


.form-1 {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-top-right-radius: 100px;
    margin: 10.5rem 0 0 0;
    width: 91.5%;
    gap: 5px;
    align-items: center;
}

.form-img {
    margin: 0 70px 0 10px;
    width: 40%;
    /* margin: 5rem 16rem 0 0; */
}

label {
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    margin-left: 12rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    padding: 0.9rem 0 0.9rem 0.6rem;
    margin: 0.3rem 0 0 9.5rem;
    width: 60%;
    border: none;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.249);
}

.signup-h3 {
    white-space: nowrap;
    font-size: 3.5rem;
    margin: 4rem 0 2rem 14rem;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    width: 60%;
    color: rgba(0, 0, 0, 0.71);
}

button {
    margin: 0.3rem 0 1rem 17.9rem;
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: "Crimson Text", serif;
    font-style: oblique;
    font-weight: 800;
    background-color: rgb(7, 7, 102);
    color: rgba(255, 255, 255, 0.918);
}

button:hover {
    transform: scale(1.1);
    transition: 0.5sec;
}

button:active {
    transform: scale(1.03);
    transition: 0.5sec;
}

.login-a {
    margin: 0.4rem 0 3rem 12rem;
}

.login-a a {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    margin-left: 0.4rem;
}

}

@media screen and (max-width: 321px) {

body {
    background-color: rgb(8, 8, 69);
}


.form-1 {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-top-right-radius: 100px;
    margin: 10.5rem 0 0 0;
    width: 91.5%;
    gap: 5px;
    align-items: center;
}

.form-img {
    margin: 0 70px 0 10px;
    width: 40%;
    /* margin: 5rem 16rem 0 0; */
}

label {
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    margin-left: 12rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    padding: 0.9rem 0 0.9rem 0.6rem;
    margin: 0.3rem 0 0 9.5rem;
    width: 60%;
    border: none;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.249);
}

.signup-h3 {
    white-space: nowrap;
    font-size: 3.5rem;
    margin: 4rem 0 2rem 14rem;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    width: 60%;
    color: rgba(0, 0, 0, 0.71);
}

button {
    margin: 0.3rem 0 1rem 17.9rem;
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: "Crimson Text", serif;
    font-style: oblique;
    font-weight: 800;
    background-color: rgb(7, 7, 102);
    color: rgba(255, 255, 255, 0.918);
}

button:hover {
    transform: scale(1.1);
    transition: 0.5sec;
}

button:active {
    transform: scale(1.03);
    transition: 0.5sec;
}

.login-a {
    margin: 0.4rem 0 3rem 12rem;
}

.login-a a {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    margin-left: 0.4rem;
}

}