/* css syntax */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* logo styling */

.logo img {
    /* margin-left: 9rem; */
    width: 200px;
    height: auto;
}

/* nav links styling */

.navbar-1 {
    display: flex;
    justify-content: space-around;
    width: 90%;
    background-color: white;
    padding: 10px 0px;
}

.nav-links ul li {
    display: inline-block;
}

.navbar-1 {
    position: fixed;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    /* background-color: rgb(29, 5, 5); */
}

/* styling of login, sign up items */

.login,
.signup {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    text-align: center;
    margin: 0px 10px 0 10px;
    border: 2px solid black;
    padding: 11px 13px;
    border-radius: 7px;
}

.login:hover,
.signup:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
}

.bi-person-circle-1 {
    margin-right: 9px;
    font-size: 1.6rem;
    align-items: center;
}

.bi-person-add-1 {
    margin-right: 9px;
    font-size: 1.6rem;
    align-items: center;
}

.bi-caret-fill-1 {
    margin-left: 5px;
    font-size: 0.8rem;
    align-items: center;
    color: rgba(0, 0, 0, 0.490);
}

/* styling of all nav */
.nav-links ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    list-style: none;
    margin: 0px 20px 0 20px;
}

.bi-caret-fill-1:hover {
color: rgb(29,157,216);
}

.nav-links ul li a:hover {
    color: rgb(255, 0, 0);
    transition: 0.3s;
}

/* dropdown menu styling */


.dropdown,
.dropdown-2 {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    /* z-index: 1; */
}

.dropdown1:hover .dropdown,
.dropdown2:hover .dropdown-2 {
    display: grid;
}

.dropdown2 {
    display: block;
    padding: 8.5px 20px  8.5px 0px;
    text-align: end;
    /* width: 70%; */
}

.dropdown-2 li {
    list-style: none;
    padding: 10px 12px;
}

.dropdown ul li a {
    color: black;
    font-size: 1rem;
}

.dropdown,  ul .li-a:hover {
    background-color: rgb(240, 240, 240);
    transition: 0.3s;
    /* width: 90%; */
}

.li-a a {
    display: inline-block;
}

/* Dropdown icon styling */

.bi-caret-right-fill {
    margin-left: 5px;
    font-size: 0.8rem;
    align-items: center;
    color: rgba(0, 0, 0, 0.490);
}

.bi-caret-right-fill:hover {
    color: rgb(29,157,216);
}

/* hero page styling */

main {
    padding: 90.7px 0 0 0;
}

body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.hero-pg {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.308)), url(./assets/logo-vidson-badge.svg);
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 90%;
    margin-left: 5rem;
    background-repeat: no-repeat;
    background-size: 99%;
    border-top-right-radius: 3rem;
    border-top-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
    border-bottom-left-radius: 3rem;
}


.hero {
    display: grid;
    grid-template-columns: auto auto;
    /* column-gap: 13rem; */
    justify-content: center;
    align-items: center;
    padding: 10rem 20rem 0px 10rem;
    height: 100vh;
    color: rgba(255, 255, 255, 0.733);
}

.hero img {
    margin-left: 10rem;
}

.hero>h1 {
    font-size: 4.2rem;
}

.hero p {
    font-size: 1.3rem;
    /* margin-top: 10px; */
    line-height: 2.3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.sports,
.updated {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
    border: 2px solid white;
    border-radius: 5px;
    margin: 35px  16px 0px 0px;
    color: white;
    text-decoration: none;
    font-family: "Crimson Text", serif;
    font-weight: 900;
    font-style: italic;
}

.sports:hover,
.updated:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
    transition: 0.3sec;
}

.sports:active,
.updated:active {
    transform: scale(1.2);
}

/* footer styling */

.footer-class {
    display: flex;
    justify-content: space-around;
    padding: 56px 0px;
    background-color: rgb(0, 0, 0);
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
}

.footer-contacts h3 {
    margin-bottom: 10px;
    color: white;
}

.contacts {
    margin-top: 20px;
}    
.footer-contacts li {
    color: white;
    list-style: none;
    margin-bottom: 9px;
}

.nav-links-container h3 {
    color: white;
    margin-bottom: 1px;
}

.nav {
    /* width: 50%; */
    /* padding: 0 3rem; */
}

.anchor {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    margin-top: 20px;
}

.anchor li {
    list-style: none;
    margin-bottom: 9px;
}

.anchor li a:hover {
    color: rgba(207, 75, 70, 0.841);
    transition: 0.6sec;
}

/* styling for footer icons */

.bi-telephone-1 {
    color: rgb(207, 74, 70);
    margin-right: 9px;
    font-size: 22px;
}

.bi-envelope-at-1 {
    color: rgb(207, 74, 70);
    margin-right: 9px;
    font-size: 22px;
}

.bi-envelope-at-1:hover {
    color: rgb(207, 74, 70);
}

.foot-email {
    font-size: 1rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}

.foot-email li :hover {
    color: rgb(207, 74, 70);
}

.bi-geo-alt-1 {
    color: rgb(207, 74, 70);
    margin-right: 9px;
    font-size: 22px;
}

.footer-img {
    width: 40%;
}

/* styling of the copyright item on the footer */

.copyright {
    text-align: center;
    padding: 26px 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 19px;
    background-color: rgba(0, 0, 0, 0.904);
    color: white;
}

.copyright span {
    color: rgb(207, 75, 70);
}